<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.fsryan.exampleapp.ghstalker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c301a57031bc1dd1226317f1b6c2c08a3f0ce22f" />
    </application>
</manifest>
